.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -142.5px;
    margin-left: -145.5px;
    -webkit-animation: preloader 8s infinite linear;
    -moz-animation: preloader 8s infinite linear;
    -ms-animation: preloader 8s infinite linear;
    -o-animation: preloader 8s infinite linear;
    animation: preloader 8s infinite linear;
}

@-webkit-keyframes preloader {
    to { -webkit-transform: rotate(-360deg); }
}

@-moz-keyframes preloader {
    to { -moz-transform: rotate(-360deg); }
}

@-ms-keyframes preloader {
    to { -ms-transform: rotate(-360deg); }
}

@-o-keyframes preloader {
    to { -o-transform: rotate(-360deg); }
}

@keyframes preloader {
    to { transform: rotate(-360deg); }
}
