body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
h1 {
  font-weight: 300;
  text-align: center;
  margin-top: 3em; 
}
h2 {
  font-weight: 300;
  font-style: italic;
  font-size: 100%;
  text-align: center;
}
hr {
  width: 600px;
  margin: 3.5em auto;
  border-color: #fff;    
}
ol {
  width: 600px;
  margin: 4em auto;
}
li {
  line-height: 2;
}
footer {
  font-weight: 300;
  font-style: italic;
  font-size: 70%;
  text-align: center;
  margin: -3em auto 4em;
}
